<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div id="error" style="display:none; text-align: center"><h3>Hmm, you are not supposed to be here...</h3></div>
            <div class='row'>
                <section class='large-9 columns'>
                    <div class='module portfolio-intro'>
                        <div id="profile-picture-section"></div>
                        <div id='basic-information-section'></div>
                    </div>
                    <div id='media-information-section'></div>
                    <div id="posts-section"></div>
                </section>
                <section class='large-3 columns'>
                    <div id='users-section'></div>
                    <div id='administrator-section'></div>
                    <div id='pending-users-section'></div>
                    <div id='events-section'></div>
                </section>
            </div>
        </div>
        <div id='footer-section' class='module portfolio-intro'></div>
    </div>

</article>
