<article>
    <div class="original">
        <div class="module groups-search">
            <div class='large-12 columns'>
                <div class='large-9 columns'>
                    <form>
                        <div class='row'>
                            <input id='groupname' placeholder='Search for groups by name' type='text'/>

                        </div>
                        <div class='row'>
                            <input type="button" class='button filter-my' value='My Groups' title='Groups I am member of'/>
                            <input type="button" class='button filter-pending' value='My Pending Groups' title='My pending requests'/>
                            <input id="searchGroups" type="button" class='button filter right' value='Search'/>
                        </div>
                    </form>
                </div>

                <div class='large-2 columns'>
                    <form>
                        <div class='row'>
                            <input type="submit" id='new-group' value='Create a New Group' class="button"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</article>