<article>
    <div class="original">
        <div class='large-12 columns module'>
            <header class='module-header'>
                <h4>
                    <span>Pending Users ({{pendingUsersNumber}})</span>

                </h4>
            </header>
            <div class="row">
                <div class='large-12 columns' style="margin-top: 0;">
                    <div class='mediaGroupsRepresentation'>
                        <ul id="groupPendingImages" style="list-style:none;"></ul>
                    </div>
                </div>
                <div class='large-4 columns' id="eventDiv">

                </div>
            </div>
        </div>
        <div id="dialog" title="Promote user to your group">
        </div>
    </div>

</article>