<article>
    <div class="original">
        <div class='large-12 columns module'>
            <header class='module-header'>
                <div class='module-corner-actions'>
                </div>
                <div class="row">
                    <div class='large-12 columns' style="margin-top: 0;">
                        <ul class='large-block-grid-5 small-block-grid-2 company-list group-list'  style="list-style:none;"></ul>
                    </div>
                </div>
            </header>
        </div>

        <footer class='module-footer'>
            <a class='special load_groups'>View more results</a>
        </footer>
    </div>


</article>