<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <div class='large-12 columns module'>
                    <h3>Groups</h3>
                    <section id='filter-form-section'></section>
                </div>
                <div class="large-12 columns module">
                    <h3>Results:</h3>
                    <section id="groups-result">

                    </section>
                </div>

            </div>
        </div>
        <div id='footer-section'></div>
    </div>

</article>
