<article>
    <div class="original">
        <div class='large-12 columns module'>
            <div class='row'>
                <div class='post-validation-messages large-12 columns'></div>
            </div>
            <form>
                <div class="row" style="margin:20px 0 -10px 0">
                    <div class='large-10 columns'>
                        <input id='content' placeholder='Share something with this group...' type='text'/>
                    </div>
                    <div class='large-2 columns'>
                        <input id='save-post' type="submit" value="Share" class="button"/>
                    </div>
                </div>
            </form>
            <div class="row" style="border-top: 10px solid #f4f1f0; ">
                <div class='row' style="margin-top: 0;">
                    <ul class='company-list post-list' style="list-style:none;"></ul>
                </div>
            </div>
        </div>
        <footer class='module-footer'>
            <a class='special load_posts' style="visibility:hidden">View more posts</a>
        </footer>
    </div>

</article>