<article>
    <div class="original">
        <div class='list-item-actions'>
            <a>
                <i class='icon-edit tip-top' title='Edit'></i>
            </a>
            <a>
                <i class='icon-delete tip-top' title='Delete'></i>
            </a>
        </div>
        <div class='large-12 columns'>
            <h5>{{title}}</h5>
            <p>Presented by {{presentor}} in {{monthString}} {{year}}</p>
            <p>{{description}}</p>
        </div>
    </div>

</article>