<article>
    <div class="original">
        <div class="module">
            <div class='large-12 columns'>
                <header class='module-header'>
                    <h4>
                        <span>Skills</span>
                        <a>
                            <i class='icon-edit tip-top' title='Edit'></i>
                        </a>
                    </h4>
                </header>
                <div class='skills'></div>
            </div>
        </div>
    </div>

</article>