<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <div  style="padding: 0px" class="large-12 columns">
                    <div class="large-2 columns">
                        <div class='module' id="navcontainer">
                            <ul>
                                <li>
                                    <a id="compose-link">Compose</a>
                                </li>
                                <li>
                                    <a id="inbox-link">Inbox</a>
                                </li>
                                <li>
                                    <a id="sent-link">Sent</a>
                                </li>
                                <li>
                                    <a id="deleted-link">Trash</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-12 columns module">
                            <a data-dropdown='messages-dropdown' data-options="is_hover:true">
                                All messages <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul id='messages-dropdown' class='f-dropdown'  data-dropdown-content>
                                <li>
                                    <a id='all-link'>All messages</a>
                                </li>
                                <li>
                                    <a id='unread-link'>Unread</a>
                                </li>
                                <li>
                                    <a id='flagged-link'>Flagged</a>
                                </li>
                            </ul>

                            <div class='module' id="compose-message"></div>
                            <div class='module' id="messages-received"></div>
                            <div class='module' id="messages-sent"></div>
                            <div class='module' id="messages-deleted"></div>
                            <div class='module' id="messages-unread"></div>

                            <div class='large-offset-5'>
                                <a class="special" id="moreReceivedMessages"> View more messages</a>
                                <a class="special" id="moreSentMessages"> View more messages</a>
                                <a class="special" id="moreDeletedMessages"> View more messages</a>
                            </div>
                        </div>


                    </div>
                    <div id='sponsors-section'  style="padding: 0px" class='large-2 columns'></div>
                </div>

            </div>
        </div>
        <div id='footer-section'></div>
    </div>

</article>
