<article>
    <div class="original">
        <div class='large-12 columns module'>
            <header class='module-header'>
                <h4>
                    <span>Companies</span>
                </h4>
            </header>
            <div class='row'>
                <div class='validation-messages large-6 columns'></div>
            </div>
            <div class='row'>
                <div class='large-6 columns' style="margin-top: 0;">
                    <input id="company-name" name='company-name' placeholder='Company Name' type='text'/>
                </div>
                <div class='large-3 columns left'>
                    <form>
                        <input class='button search-companies' type='button' value='Search'/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class='large-12 columns' style="margin-top: 0;">
                    <ul class='company-list company-list' style="list-style:none;">
                        <div class="large-3 columns">
                            Current companies
                        </div>
                        <div class="large-5 columns">
                            ON - Employer payed and can view Talent Search
                            OFF - Employer did not pay
                        </div>
                    </ul>
                </div>
                <div class='large-3 columns left' style="margin-top: 20px;">
                    <input id="savePayment" class='button save-button' value='Save' type="submit"/>
                </div>
            </div>
        </div>
    </div>

</article>