<article>
    <div class="original">
        <div class="large-12 columns" style="padding-top:10px">
            <div class="large-3 columns" id='company-name'>
                {{name}}
            </div>
            <div class="large-3 columns" id="company-switch" >
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="payment{{id}}">
                    <label class="onoffswitch-label" for="payment{{id}}">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </div>
            <div class="large-6 columns"></div>
        </div>
    </div>

</article>