<article>
    <div class="original">
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <div class='large-12 columns module'>
            <header class='module-header'>
                <h4>
                    <span id='detailedView' class='users-view'>Detailed View</span> |
                    <span id='summaryView' class='users-view'>Summary View</span>|
                    <span id='emailView' class='users-view'>Send email</span>
                </h4>
                {{#if count}}
                {{else}}
                <a id='exportXls' class='right admin-users'>Export xls</a>
                <div style='padding: 30px'>
                    <a data-dropdown='roles-dropdown' data-options="is_hover:true">
                        All roles <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id='roles-dropdown' class='f-dropdown'  data-dropdown-content>
                        <li>
                            <a id='all-link'>All roles</a>
                        </li>
                        <li>
                            <a id='alumni'>Alumni</a>
                        </li>
                        <li>
                            <a id='student'>Student</a>
                        </li>
                        <li>
                            <a id='college'>College</a>
                        </li>
                        <li>
                            <a id='company'>Company</a>
                        </li>
                    </ul>
                </div>
                {{/if}}

            </header>

            <div class='row'>
                <div class='validation-messages large-6 columns'></div>
            </div>
            <div class="row">
                <div class='large-12 columns' style="margin-top: 0;">
                    <ul class='company-list company-list' style="list-style:none;">
                        {{#if count}}
                        <div class="small-1 columns admin-users">
                            Role
                        </div>
                        <div class="small-1 columns admin-users">
                            Count
                        </div>
                        {{else}}
                        <div class="small-1 columns admin-users">
                            #
                        </div>
                        <div class="small-1 columns admin-users">
                            Role
                        </div>
                        <div class="large-1 columns admin-users">
                            First/
                        </div>
                        <div class="large-2 columns admin-users">
                            Last name
                        </div>
                        <div class="large-2 columns admin-users">
                            Email
                        </div>
                        <div class="large-4 columns admin-users" style='padding-left: 10%'>
                            School / Name
                        </div>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <footer class='module-footer'>
            <a class='special load_users'>View more users</a>
        </footer>
        <div id="delete-user-dialog" title="Delete user" style="display: none">
            <p>Are you sure you want to permanently delete this user?</p>
        </div>
    </div>

</article>