<script src="/js/jquery.js"></script>
<script src="/js/new_alumni.js"></script>

<h2>Unit Testing</h2>
<input type="button" value="Start Unit Test" id="start">

<section id="fail">

<h2>Problem 1: Try create a new alumni story user (Validate User Fail)</h2>

<h4>URL via POST</h4>
<div id="fail_url"></div>

<h4>Data Sent</h4>
<div id="fail_sent"></div>

<h4>Data Received</h4>
<div id="fail_received"></div>

</section>

<section id="fail2">

<h2>Problem 2: Try create a new alumni story user (Validate Alumni Fail)</h2>

<h4>URL via POST</h4>
<div id="fail_url_2"></div>

<h4>Data Sent</h4>
<div id="fail_sent_2"></div>

<h4>Data Received</h4>
<div id="fail_received_2"></div>

</section>


<section id="ok">

<h2>Try create a new student user</h2>

<h4>URL via POST</h4>
<div id="ok_url"></div>

<h4>Data Sent</h4>
<div id="ok_sent"></div>

<h4>Data Received</h4>
<div id="ok_received"></div>

</section>


<script>

$(function() {
  // Handler for .ready() called.

    $('#start').click(function(){
        create_failed();
    })

});

</script>