<article>
    <div class="original">
        <div class='large-12 columns module'>
            <div class='large-12 columns'>
                <header>
                    <h5>Results: </h5>
                </header>
                <ul class='connections alt large-block-grid-4 suggestions-list'></ul>
                <footer class='module-footer'>
                    <a  class='special load_alumni'>View more alumni</a>
                </footer>
            </div>
        </div>
    </div>

</article>