BAZINGAAAAAAAAA
<form action="/pwd/reset" method="post">
  <div><input type="password" name="passone"></div>
  <div><input type="password" name="passtwo"></div>
  <div><input type="submit"></div>
</form>