<div class='reveal-modal medium' id='award-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Ideal Candidate</h2>
        </div>
    </div>
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id='field' placeholder='Enter Desired Degree, Certificate, etc.' type='text' />
                        </div>
                    </div>
                    <div class="row">
                        <div class='large-12 columns'>
                            <textarea rows="5" id='description' placeholder='Describe qualifications here' type='text' />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns form-actions'>
                            <input id="deleteEvent" class='button delete-button'type='button' value='Delete' />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input class='button save-button' type='button' value='Save' />
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>