<div class='reveal-modal medium' id='profile-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>College Description</h2>
        </div>
    </div>
    <div class='row'>
        <div class='validation-messages large-12 columns'></div>
    </div>
    <form class='custom'>

        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <textarea rows="5" length='500' id='description' placeholder='Tell us more about your college' />
                        </div>
                    </div>
                    <div class='row bottom-collapse'>
                        <div class='large-12 columns form-notice'>
                            <p>500 character limit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="saveCollegeDescription" class='button save-button' value='Save' />
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>