<script id="preventrender74357" type="text/x-handlebars-template">
    <article>
        <div class="original">
            <a id="collegeLink">
                <div class='connection'>
                    <div class='connection-photo' style='cursor: pointer'>
                        {{#if profile_image}}
                        <img class='small-companies' src='{{profile_image}}'/>
                        {{else}}
                        <img src='//placehold.it/200x200'/>
                        {{/if}}
                    </div>
                    <div class='connection-info' style='cursor: pointer'>
                        <h4 class='thinheader'>{{name}}</h4>
                        {{#if city}} {{#if state}}
                        <h6 class='thinheader'>{{city}}, {{state}}</h6>
                        {{/if}} {{/if}}
                    </div>
                </div>
            </a>
        </div>

    </article>
</script>