<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <section class='large-12 columns'>
                    <div id="paymentMessage" style="display: none">
                        <div class="large-12 columns module" style="height: 500px">
                            <h4 style="text-align: center">Sorry you're not allowed to see this content</h4>
                            <h4 style="margin-top: 10%; text-align: center">Upgrade your WorkReadyGrad Account and gain access to thousand of talented students</h4>
                            <h5 style="text-align: center">Contact
                                <strong>
                                    <a href="mailto:brian@workreadygrad.com"> brian@workreadygrad.com </a>
                                </strong>
                                to get started.
                            </h5>
                        </div>
                    </div>
                    <div id='review-requests-section'></div>
                    <div id='filter-form-section'></div>
                    <!--<div id='search-criterias'></div>-->
                    <div id='suggestions-section'></div>

                </section>
            </div>
        </div>
        <div id='footer-section'></div>
    </div>

</article>