<article>
    <div class="original">
        <div class='connection'>
            <div class='module-corner-actions'>
            </div>

            <div class='criteria-info' style="width: 50%">
                <ul class="inline-list" style="margin-top: 0px; margin-bottom: 0px">
                    <li style="width: 60%">
                        <div id="seeSearch" style='cursor: pointer;'>
                            {{criteria_name}}
                        </div>
                    </li>
                    <li>
                        <a style="float: right"><i id="delete-criteria" class="icon-delete" title="Delete saved filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>