<article>
    <div class="original">
        <div class='l-main'>
            <div class="row">
                <section class='large-9 columns'>
                    <header>
                        <h3 class="header">
                            <span>Settings</span>
                        </h3>
                    </header>
                    <div class='module'>
                        <div class="large-12 columns">
                            <header>
                                <h4 class='module-header'>
                                    <span>Professional</span>
                                </h4>
                            </header>
                        </div>
                        <div class="large-10 columns">
                        <span class="large-4 columns">
                            <h5 class="thinheader">First name</h5>
                        </span>
                        <span class="large-8 columns">
                            <span id="spanalumni-first-name"><strong>{{first_name}}</strong></span>
                            <input type="text" id="inputalumni-first-name" value="{{first_name}}" style="display: none"
                                   class="large-9">
                        </span>
                        </div>
                        <div class="large-2 columns">
                            <a>
                                <i class="icon-edit" id="editalumni-first-name" title="Edit"></i>
                            </a>
                            <input class='button save-button large-12' id="savealumni-first-name" value='Done'
                                   style="display: none"/>
                        </div>

                        <div class="large-10 columns">
                        <span class="large-4 columns">
                            <h5 class="thinheader">Last name</h5>
                        </span>
                        <span class="large-8 columns">
                            <span id="spanalumni-last-name"><strong>{{last_name}}</strong></span>
                            <input type="text" id="inputalumni-last-name" value="{{last_name}}" style="display: none"
                                   class="large-9">
                        </span>
                        </div>
                        <div class="large-2 columns">
                            <a>
                                <i class="icon-edit" id="editalumni-last-name" title="Edit"></i>
                            </a>
                            <input class='button save-button large-12' id="savealumni-last-name" value='Done'
                                   style="display: none"/>
                        </div>

                        <div class="large-10 columns">
                        <span class="large-4 columns">
                            <h5 class="thinheader">Email</h5>
                        </span>
                        <span class="large-8 columns">
                            <span id="spanalumni-email"><strong>{{email}}</strong></span>
                            <input type="text" id="inputalumni-email" value="{{email}}" style="display: none"
                                   class="large-9">
                        </span>
                        </div>
                        <div class="large-2 columns">
                            <input class='button save-button large-12' id="savealumni-email" value='Done'
                                   style="display: none"/>
                        </div>

                        <span class="large-12 columns"><span class="large-12 columns settings-list"></span></span>
                        <div class="large-12 columns">
                            <input class='button change-password-button' type='button' value='Change password'/>
                        </div>

                    </div>
                    <!-- ---------------------------------  PRIVACY ----------------------------------- -->

                    <div id="privacy-settings"  class="large-12 columns module" style='display:none'>
                        <div class='row'>
                            <div class='save-message large-12 columns'></div>
                        </div>
                        <div class='top-privacy' style='padding-top: 20px'>
                            <div class="large-6 columns">
                                <h5 >Privacy</h5>
                            </div>
                            <div class="large-2 columns">
                                <label style="text-align: center; font-size: 15px; font-weight: bold">Visibility to Connections</label>
                            </div>
                            <div class="large-2 columns">
                                <label style="text-align: center; font-size: 15px; font-weight: bold">Visibility to Employers</label>
                            </div>
                            <div class="large-2 columns">
                                <label style="text-align: center; font-size: 15px; font-weight: bold">Visibility to Public</label>
                            </div>
                        </div>

                        <!--<div class='privacy-class'>
                            <div class="large-6 columns">
                                 <label>GPA</label>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s1" checked>
                                    <label class="onoffswitch-label" for="s1">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e1" checked>
                                    <label class="onoffswitch-label" for="e1">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>-->

                        <div class='privacy-class'>
                            <div class="large-6 columns">
                                <label>WRG Experience Points</label>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s2" checked>
                                    <label class="onoffswitch-label" for="s2">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e2" checked>
                                    <label class="onoffswitch-label" for="e2">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="p2" checked>
                                    <label class="onoffswitch-label" for="p2">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--<div class='privacy-class'>
                            <div class="large-6 columns">
                                <label>Future Self</label>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s3" checked>
                                    <label class="onoffswitch-label" for="s3">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e3" checked>
                                    <label class="onoffswitch-label" for="e3">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>-->

                        <div class='privacy-class'>
                            <div class="large-6 columns">
                                <label>Skills </label>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s4" checked>
                                    <label class="onoffswitch-label" for="s4">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e4" checked>
                                    <label class="onoffswitch-label" for="e4">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="p4" checked>
                                    <label class="onoffswitch-label" for="p4">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class='privacy-class'>
                            <div class="large-6 columns">
                                <label>Awards</label>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s5" checked>
                                    <label class="onoffswitch-label" for="s5">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e5" checked>
                                    <label class="onoffswitch-label" for="e5">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="p5" checked>
                                    <label class="onoffswitch-label" for="p5">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--<div class='privacy-class'>
                            <div class="large-6 columns">
                                <label>Pesonal Statement Video</label>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s6" checked>
                                    <label class="onoffswitch-label" for="s6">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-3 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e6" checked>
                                    <label class="onoffswitch-label" for="e6">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>-->

                        <div class='privacy-class'>

                            <div class="large-6 columns">
                                <label>Connections</label>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="s7" checked>
                                    <label class="onoffswitch-label" for="s7">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="e7" checked>
                                    <label class="onoffswitch-label" for="e7">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="large-2 columns">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="p7" checked>
                                    <label class="onoffswitch-label" for="p7">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class='large-12 columns form-actions'>
                            <input class='button save-button' type='button'  value='Save changes' />
                        </div>
                    </div>

                    <div id="group-section">

                    </div>
                </section>
            </div>
        </div>
        <div id='footer-section'></div>
    </div>
</article>