<div class='reveal-modal small' id='companyuser-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Add New User</h2>
        </div>
    </div>
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <input id='first-name' placeholder="New User's First Name" type='text'/>
                        </div>
                        <div class='large-12 columns'>
                            <input id='last-name' placeholder="New User's Last Name" type='text'/>
                        </div>
                        <div class='large-12 columns'>
                            <input id='email' placeholder="New User's Email" type='email'/>
                        </div>
                        <div class='large-12 columns'>
                            <input id='password' placeholder="New User's Password" type='password'/>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class='large-6 columns form-actions'>
                <input class='button save-button' value='Save' id="#save-button"/>
            </div>
            <div class='large-6 columns form-actions'>
                <input class='button close-button' id="#cancel-button" value='Cancel'/>
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>