<article>
    <div class="original">
        <div class='large-12 columns module'>
            <input type="button" class="button addJobButton" id="addJob" value="Post a Job">
            <header class='module-header'>
                <h4>
                    <span>Your Jobs</span>
                </h4>
                <div class="row">
                    <div class='large-12 columns'>
                        <ul class='company-list job-list'></ul>
                    </div>
                </div>
            </header>
        </div>
    </div>

</article>