<div class="original">
    <div class='reveal-modal small' id='profile-modal'>
        <div class='row'>
            <div class='large-12 columns'>
                <h2 class='thinheader'>Change password</h2>
            </div>
        </div>
        <div class='row'>
            <div class='validation-messages large-6 columns'></div>
        </div>
        <form class='custom'>

            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id='oldPassword' placeholder='Old Password' class="pwd full-width wrg-tb tk-museo-sans"
                                   type="password"/>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id='password' class="pwd full-width wrg-tb tk-museo-sans" type="password"
                                   placeholder="New Password*"/>
                        </div>
                        <div class='large-6 columns'>
                            <input id='repeatPassword' class="validator pwd full-width wrg-tb tk-museo-sans" type="password"
                                   placeholder="Repeat New Password*"/>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns' style="margin-top: 2%">
                            <input id="saveJob" class='button save-button-password' type='button' value='Confirm'/>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <a class='close-reveal-modal'>×</a>
    </div>

</div>
