<article>
    <div class="original">
        <div class="module">
            <div class="large-10 columns">
                <span class="large-10 columns" style="padding-right:0;">
                    <span class="span-first_name">{{name}}</span>
                </span>
            </div>
            <div class="large-2 columns">
                <span class='span-actions'>
                    <span>
                        <a class ="large-6 columns" id="delete-item" title="Delete">
                            <li >X</li>
                        </a>
                    </span>
                </span>
            </div>
        </div>
    </div>

</article>