<div class="original">
    <div class='reveal-modal large' id='photo-modal'>
        <div class='row'>
            <div class='large-12 columns'>
                <h2 class='thinheader'>Remove Group</h2>
            </div>
        </div>
        <form class='custom'>
            <div class='row'>
                <div class='validation-messages large-12 columns' id='validation-messages'></div>
            </div>
            <div class='row'>
                <div class='large-12 columns'>
                    <div class='panel'>
                        <div class='row bottom-collapse'>
                            <div class='large-6 columns'>
                                <p>
                                    Are you sure you would like to remove {{name}}?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='large-12 columns form-actions'>
                    <input id="removeUser" class='button save-button' value='Remove' />
                </div>
            </div>
            <div class='row'>
                <div class='validation-messages large-12 columns'></div>
            </div>
        </form>
        <a class='close-reveal-modal'>×</a>
    </div>
</div>
