<article>
  <div class="original">
    <div class="alumni-search">
        <header>
            <h3 class='thinheader'>Connect with classmates!</h3>
        </header>
        <div class='module'>
            <div class='large-12 columns'>
                <form>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <input id="name" name='name' placeholder='Search for friends by name, club, or organization.' type='text' />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id="company" name='company' placeholder='Company' type='text' />
                        </div>
                        <div class='large-6 columns'>
                            <input id="school" name='school' placeholder='School' type='text' />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id="major" name='major' placeholder='Major' type='text' />
                        </div>
                    </div>
                    <div class='row bottom-collapse'>
                        <div class='large-12 columns right'>
                            <input id="searchFriends" class='button filter' type='button' value='Search' />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

</article>