<div>
    <div class="original">
        <header class='l-header'>
            <div class='row'>
                <nav class='settings-nav large-2 push-10 columns'>
                    <div class='settings-nav-inner'>
                        <div class='beta-tag'>Beta</div>
                        <a data-dropdown='settings-dropdown'>
                            <i class="icon-settings"></i>
                        </a>
                        <ul id='settings-dropdown' class='f-dropdown'  data-dropdown-content>
                            <li>
                                <a href='#settings'>Settings</a>
                            </li>
                            <li>
                                <a href='#logout'>Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class='large-10 pull-2 columns'>
                    <nav class='main-nav' role='main'>
                        <div class='main-nav-inner'>
                            <ul class='inline-list'>
                                <li>
                                    <a href='#admin'>Employers</a>
                                </li>
                                <li>
                                    <a href='#users'>Users</a>
                                </li>
                                <li>
                                    <a href='#admin_career_path'>Career Path</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>

</div>