<div class='reveal-modal medium' id='upgrade'>
    <a class='close-reveal-modal'>×</a>
    <div class='row'>
        <div class='large-12 columns center'>
            <h4>Upgrade your WRG Account and gain access to thousand of talented students</h4>
            <h6>Contact <strong><a href="mailto:sales@workreadygrad.com">sales@workreadygrad.com</a></strong> to get started.</h6>
        </div>
        <div class='large-12 columns center'>
            <button>Close</button>
        </div>
    </div>
</div>
