<div class='reveal-modal medium' id='profile-modal'>
    <form id="saveModerator">
        <div class='row'>
            <div class='large-12 columns'>
                <h2 class='thinheader'>Add Moderator</h2>
            </div>
        </div>
        <div class='row'>
            <div class='validation-messages large-12 columns'></div>
        </div>
        <div class='large-12 columns'>
            <div class='panel'>
                <div class='row'>
                    <div class='large-12 columns'>
                        <div class="groupUsers">
                            <div id="usersList"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='panel'>
                <div class='row'>
                    <div class='large-12 columns'>
                        <div class="addedModerators">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="saveAdmin" type="submit" class='button save-button' value='Save'/>
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>