<div class='reveal-modal medium' id='profile-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Post content</h2>
        </div>
    </div>
    <div class='row'>
        <div class='validation-messages large-12 columns'></div>
    </div>
    <form class='custom'>

        <div class='large-12 columns'>
            <div class='panel'>
                <div class='row'>
                    <div class='large-12 columns'>
                        <textarea rows="5" id='content' placeholder='Content' type='text'/>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="saveGroup" class='button save-button' value='Save'/>
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>