<article>
    <div class="original">
        <div class='large-12 columns module'>
            <h2>Leaderboard</h2>
            <p>Here you can see best students based on WRG points</p>
        </div>
        <div class='large-12 columns module' style="margin-top: 0px">
            <div class="large-3 columns" >
                <label style="width: 228px; margin-top: 15px"></label>
                <a  data-dropdown='messages-dropdown' data-options="is_hover:true">
                    Arrange by <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul id='messages-dropdown' class='f-dropdown'  data-dropdown-content>
                    <li>
                        <a id='quantity-link'>Quantity</a>
                    </li>
                    <li>
                        <a id='quality-link'>Quality</a>
                    </li>
                </ul>
            </div>
            <div class="large-10 large-offset-2">
                <div class='large-1 columns leaderboard-head'>
                    <div id="internship-leaders"  class="leaderboard-label">Internship/ Co-op</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-intern-coop' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="community-leaders" class="leaderboard-label">Community Service</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-community-service' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="public-leaders" class="leaderboard-label">Public Speaking</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-public-speaking' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="research-leaders" class="leaderboard-label">Research</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-research' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="leadership-leaders" class="leaderboard-label">Leadership</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-leadership' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="innovation-leaders" class="leaderboard-label">Innovation</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-innovation' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="industry-leaders" class="leaderboard-label">Industry Outreach</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-industry-outreach' aria-hidden='true'></i></div>
                </div>
                <div class='large-1 columns leaderboard-head'>
                    <div id="grit-leaders" class="leaderboard-label">Grit</div>
                    <div class="leaderboard-icon"><i class='experience-icon icon-innovation' aria-hidden='true'></i></div>
                </div>
            </div>

            <div class="large-12">
                <ul class='company-list leaderboard-list' style="margin-top: 10px" ></ul>
            </div>
        </div>
        <div style="margin-left: 45%">
            <a class="special" id="moreStudents"> View more students</a>
        </div>
    </div>

</article>