<div class='reveal-modal medium' id='award-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Future Self</h2>
        </div>
    </div>
    <div class='row'>
        <div class='validation-messages large-12 columns'></div>
    </div>
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>

                    <div class='row bottom-collapse'>
                        <div class='large-12 columns'>
                            <textarea id='note' placeholder='Write a brief description how do you plan to achieve this...' rows='3'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input class='button save-button' type='button'  value='Save' />
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>