<div class='reveal-modal medium' id='personal-statement-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Personal Statement</h2>
        </div>
    </div>
    <div class='row'>
        <div class='validation-messages large-12 columns'></div>
    </div>
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <textarea id='personal-statement' placeholder='Write a brief description here...' rows='3'></textarea>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <h6 class='thinheader'>Personal Statement URL Video YouTube. Accepts normal links, short links or iframes.</h6>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <textarea id='video-url' rows="1" cols="26" name="reply" placeholder='Please enter valid Youtube link' type='text' /></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="saveVideo" class='button save-button' type='button' value='Save' />
                <input id="removeVideo" class='button' type='button' value='Remove Video' />
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
    <div class='row'>
        <div class='validation-messages large-12 columns'></div>
    </div>
</div>