<article>
    <div class="original">
        <div class='large-12 columns module' style="margin-top: 0px !important;">
            <header class='module-header'>
                <div class="row">
                    <div class='large-12 columns'>
                        <h3>Available Challenges</h3>
                        <ul class='company-list challenge-list'></ul>
                    </div>
                    <div class='large-offset-5'>
                        <a class="special" id="moreChallenges"> View more challenges</a>
                    </div>
                </div>
            </header>
        </div>
    </div>

</article>