<div class='reveal-modal medium' id='award-modal'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='row'>
                    <div class='validation-messages large-12 columns'></div>
                </div>
                <div class='message-container'>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <div class="ui-widget">
                                <label for="receiver"> </label>
                                <input class='receiver' id="receiverSearch" placeholder='To' type='text'/>
                            </div>
                            <input type="hidden" id="selectedReceiverID">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <input  id="subject" placeholder='Subject' type='text'/>
                        </div>
                    </div>
                </div>
                <div class='content-container'>
                    <div class="row">
                        <div class='large-12 columns'>
                            <textarea rows="5" id='content' placeholder='Message content' type='text'/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input class='button save-button' type='button' value='Send'/>
                <input class='button cancel-button' type='button' value='Cancel'/>
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'></a>
</div>
