<div class='reveal-modal large' id='photo-modal'>
    <div class='row'>
        <div class='large-12 columns'>
            <h2 class='thinheader'>Remove Message</h2>
        </div>
    </div>
    <form class='custom'>
        <div class='row'>
            <div class='validation-messages large-12 columns' id='validation-messages'></div>
        </div>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row bottom-collapse'>
                        <div class='large-6 columns'>
                            <p>
                                Are you sure you would like to delete this message?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="deleteMessage" class='button save-button' type='button' value='Delete' />
                <input id="cancel" class='button save-button' type='button' value='Cancel' />
            </div>
        </div>
        <div class='row'>
            <div class='validation-messages large-12 columns'></div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>