<div class='reveal-modal large' id='photo-modal'>
    <form class='custom'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='row bottom-collapse'>
                    <div class='large-12 columns'>
                        <p class='new-message'>
                            You are about to send a message without a subject.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input id="sendMessage" class='button send-button' value='Continue' />
                <input id="cancel" class='button cancel-button' value='Cancel' />
            </div>
        </div>
    </form>
    <a class='close-reveal-modal'>×</a>
</div>