<script id="preventrender5" type="text/x-handlebars-template">
<article>
    <div class="original">
        <div class="l-main">
            <div class="row">
                <div class="large-9 columns">
                    <div class="large-12 columns">
                        <div class="large-12 columns module">
                            <div class="large-3 columns">
                                {{#if profile_image}}
                                <img class="readOnlyImage" src="{{profile_image}}">
                                {{else}}
                                <img class="readOnlyImage" src='//placehold.it/180x180'>
                                {{/if}}
                            </div>
                            <div class="large-offset-3">
                                <h2 class="thinheader">{{name}}</h2>
                                <ul class="inline-list">
                                    <li>
                                        {{#if city}} {{#if state}}
                                        <h6 class="thinheader">{{city}}, {{state}}</h6>
                                        {{/if}} {{/if}}
                                    </li>
                                    <li>
                                        {{#if company_size}}
                                        <h6 class="thinheader wrg-gray">{{company_size}}</h6>
                                        {{/if}}
                                    </li>
                                </ul>
                                <div class="portfolio-extra">
                                    {{#if tagline}}
                                    <h5 class="thinheader"><strong>{{tagline}}</strong></h5>
                                    {{/if}}
                                    <ul class="inline-list">
                                        {{#if company_website}}
                                        <li>
                                            <a class="special" href="{{company_website}}" target="_blank">{{company_website}}</a>
                                        </li>
                                        {{/if}}
                                        {{#if facebook_url}}
                                        <li>
                                            <a href="{{facebook_url}}" target="_blank"><i class="icon-facebook"></i></a>
                                        </li>
                                        {{/if}}
                                        {{#if twitter_url}}
                                        <li>
                                            <a href="{{twitter_url}}" target="_blank"><i class="icon-twitter"></i></a>
                                        </li>
                                        {{/if}}
                                        {{#if linkedin_url}}
                                        <li>
                                            <a href="{{linkedin_url}}" target="_blank"><i class="icon-linkedin"></i></a>
                                        </li>
                                        {{/if}}
                                        {{#if google_url}}
                                        <li>
                                            <a href="{{google_url}}" target="_blank"><i class="icon-google-plus"></i></a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-12 columns module" style="margin-top: 0% !important;">
                            <h4 class="thinheader"><strong>About {{name}}</strong></h4>
                            <h6 class="thinheader">{{description}}</h6>
                        </div>
                    </div>
                    <div class="large-12 columns" style="float: left ! important;">
                        <div class="large-12 columns module" style="margin-top: 0% !important;">
                            <h4 class="thinheader"><strong>Related multi-media</strong></h4>
                            {{#if media}}
                            <div class="mediaExperienceRepresentation" style="width: auto ! important;">
                                <ul>
                                    {{#each media}}
                                    {{#if media_url}}
                                    {{#if id_video}}
                                    <li>
                                        <a class='project-view' index="{{showIndex}}"><img id="media-{{id}}"
                                                                                           title="{{video_caption}}"
                                                                                           src="//img.youtube.com/vi/{{id_video}}/1.jpg"
                                                                                           style="width: 78px; height: 78px;"></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a class='project-view' index="{{showIndex}}"><img id="media-{{id}}"
                                                                                           title="{{photo_caption}}"
                                                                                           src='{{media_url}}'
                                                                                           style="width: 78px; height: 78px;"></a>
                                    </li>
                                    {{/if}}
                                    {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-12 columns module" style="margin-top: 0% !important;">
                            <h4 class="thinheader"><strong>Ideal Candidates</strong></h4>

                            <div class="large-4 columns">
                                {{#each candidates}}
                                <div id="candidate-{{index}}" class="large-12 columns candidates"
                                     style="border-top: 1px solid #d9d6d5; cursor: pointer">
                                    <h6 class="thinheader"><strong>{{position}}</strong></h6>
                                </div>
                                {{/each}}
                            </div>
                            <div class="large-offset-4 large-8">
                                <p id="departmenttitle" style="font-weight: bold; height: 10px; display: ">Department:</p>

                                <p id="department" style="font-weight: normal; height: 10px;"></p>
                                <hr>
                                <p id="positionname" style="font-weight: bold; height: 10px; display: ">Position Name:</p>

                                <p id="descriptionTitle" style="font-weight: normal; height: 10px;"></p>
                                <hr>
                                <p id="required" style="font-weight: bold; height: 10px; display: none">Required Qualifications:</p>

                                <p id="descriptionText"></p>
                                <hr>
                                <p id="preferred" style="font-weight: bold; height: 10px; display: none">Preferred Qualifications:</p>
                                <p id="prefDescriptionText"></p>
                                <hr>
                                <p id="preferredskills" style="font-weight: bold; height: 10px; display: none">Preferred Skill Set:</p>
                                <p id="prefSkills"></p>
                                <div class="row">
                                    <div class='large-12 columns'>
                                        <input rows="5" id='keywords'
                                               placeholder='Please enter skill keywords, comma separated, without blank spaces' readonly
                                               type='text'/>
                                    </div>
                                </div>
                                <p id="preferredcategories" style="font-weight: bold; height: 10px; display: none">Experience Requirements:</p>
                                <!--Internship/Co-op:-->
                                <div id="displayskillset" style="display: none;">
                                    <table>

                                        <div class="pad">
                                            <tr>
                                                <div id="intershiplabel" class="experience-icon icon-intern-coop iconExperienceSize"
                                                     style="display: inline;" title="Internships you have completed"></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Internship/Co-op:
                                                </div>
                                                <div id="internship" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Community Service:-->
                                            <tr>
                                                <div id="communityservicelabel"
                                                     class="experience-icon icon-community-service iconExperienceSize pad"
                                                     style="display: inline;"
                                                     title="Civic - minded projects you've participated in or civic-minded organizations to which you belong."></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Community Service:
                                                </div>
                                                <div id="communityservice" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Public Speaking:-->
                                            <tr>
                                                <div id="publicspeakinglabel"
                                                     class="experience-icon icon-public-speaking iconExperienceSize pad"
                                                     style="display: inline;"
                                                     title="For example, joining Toastmasters or your school's public speaking club."></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Public Speaking:
                                                </div>
                                                <div id="publicspeaking" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Research:-->
                                            <tr>
                                                <div id="researchlabel" class="experience-icon icon-research iconExperienceSize pad"
                                                     style="display: inline;" title="Research you have completed"></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Research:
                                                </div>
                                                <div id="research" class="indlineDisplayEmployer"></div>
                                            </tr>
                                        </div>
                                        <div>
                                            <!--Leadership:-->
                                            <tr>
                                                <div id="leadershiplabel" class="experience-icon icon-leadership iconExperienceSize pad"
                                                     style="display: inline;" title="Officer roles within a club/organization/company"></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Leadership:
                                                </div>
                                                <div id="leadership" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Innovation:-->
                                            <tr>
                                                <div id="innovationlabel" class="experience-icon icon-innovation iconExperienceSize pad"
                                                     style="display: inline;"
                                                     title="Having designed and built or implemented a new way of solving an meaningful problem."></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Innovation:
                                                </div>
                                                <div id="innovation" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Industry Outreach:-->
                                            <tr>
                                                <div id="industrylabel" class="experience-icon icon-industry-outreach iconExperienceSize pad"
                                                     style="display: inline;" title="Taking the initiative to connect alumni / local professionals in your fields of
                            interest and conduct an informational interview over coffee or over the phone."></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Innovation:
                                                </div>
                                                <div id="industry" class="indlineDisplayEmployer"></div>
                                            </tr>
                                            <!--Grit:-->
                                            <tr>
                                                <div id="gritlabel" class="experience-icon icon-innovation iconExperienceSize pad"
                                                     style="display: inline;" title="Grit in psychology is a positive, non-cognitive trait based on an individual’s passion for a particular long-term
                            goal or endstate coupled with a powerful motivation to achieve their respective objective."></div>
                                                <div class='indlineDisplayEmployer' title="Internships you have completed"
                                                     style="display: none"> Grit:
                                                </div>
                                                <div id="grit" class="indlineDisplayEmployer"></div>
                                            </tr>
                                        </div>

                                    </table>
                                </div>

                            </div>
                        </div>
                        {{#if jobs }}
                        <div class="large-12 columns">
                            <div class="large-12 columns module" style="margin-top: 0% !important;">
                                <h4 class="thinheader" style="margin-bottom: 20px"><strong>Currently opened positions</strong></h4>
                                {{#each jobs}}
                                <div class="large-12 columns job">
                                    <br>
                                    <a id="viewJob" job_id="{{id}}">
                                        <div>
                                            <h5>{{job_title}}</h5>
                                        </div>
                                        <div>
                                            <label class="submittedBy-9">Submited by {{contact_name}}</label>
                                            <label class="postedOn-9">Posted on {{postedOn}}</label>
                                        </div>
                                        <div>{{{job_description_short}}}</div>
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="large-12 columns">
                        <div class="large-12 columns module">
                            <h4 class="thinheader"><strong>Events</strong></h4>
                            {{#each events}}
                            <div class="large-12" style="margin-top: 20px; border-top: 1px solid #d9d6d5">
                                <h6 class="thinheader"><strong>{{name}}</strong> @ {{location}}</h6>

                                <p class="thinheader">Date: {{date}}</p>

                                <p class="thinheader">Time: {{start}} - {{end}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
</script>