
Dear <%= first_name %>,   <br><br>

<%= message_text %><br>
Click <a href="http://www.workreadygrad.com">here</a> to log into your account within WorkReadyGrad's new Beta site.
<br><br><br>
~The WorkReadyGrad Team


