   Dear <%= first_name %> thank you for your interest in WRG community,

   It seems that we have received a password reset for your account. If you made no request, please ignore this e-mail,
   as it will expire on its own.

   However, to continue with password reset for your account, please click the bottom link where you will be prompted to enter new password.


   <a href="<%= serverLocation %>changepwd?tokenizer=<%= hash %>">Please RESET your WRG Account by following this link. </a>


