
To whom it may concern,   <br><br>

<br>

<%= first_name %> <%= last_name %> has sent you his CV that was generated using <a href="https://www.workreadygrad.com">WRG application.</a>
<br>

Click <a href="<%= locationOfPdf %>">here</a> to view the Resume.
<br>
<br>
<br>
<br>


~The WorkReadyGrad Team


