<article>
    <div class="original">
        <div class="module alumni-search">
            <div class='large-12 columns'>
                <form>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <input name='name' id="name" placeholder='Search for alumni by name, club, or organization.' type='text' />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input name='company' id="company" placeholder='Company' type='text' />
                        </div>
                        <div class='large-6 columns'>
                            <input name='major' id="major" placeholder='Major' type='text' />
                        </div>
                    </div>
                    <div class='row bottom-collapse'>
                        <div class='large-12 columns right'>
                            <input id="searchAlumnus" type="button" class='button filter' value='Search' />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</article>