<article>
  <div class="original">
      <div class='small' id='friend-request-modal'>
          <div class='row'>
              <div class='large-12 columns'>
                  <h2 class='thinheader'>Add Friend</h2>
              </div>
          </div>
          <form class='custom'>
              <div class='row'>
                  <div class='large-12 columns'>
                      <div class='panel'>Would you like to add {{first_name}} {{last_name}} as a friend?</div>
                  </div>
              </div>
              <div class='row bottom-collapse'>
                  <div class='large-12 columns right'>
                      <input class='button add-friend' type='submit' value='Add Friend' />
                      <a class='button secondary close-modal' href='#'>Cancel</a>
                  </div>
              </div>
          </form>
          <a class='close-reveal-modal close-modal'>×</a>
      </div>
  </div>

</article>