<article>
    <div class="original">
        <div class='l-main'>
            <div class='row'>
                <div class='large-12 columns module'>
                    <h3>Recommended Resources (at your fingertips)</h3>

                    <p>Based on your goals, WRG recommends that you engage these resources to get you to the next level!</p>

                    <div class='large-12 columns module'>
                        <div class='row' id='tabscontainer'>
                            <ul class="tabs-list">
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='mentors'>

                                        <span ><span class='dashboard-number' id='newAlumnus' style='display:none'></span>Alumni/Mentors</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='internships'>
                                        <span><span class='dashboard-number' id='newInternships' style='display:none'></span>Internships/Companies</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='challenges'>
                                        <span><span class='dashboard-number' id='newChallenges' style='display:none'></span>Challenges</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='groups'>
                                        <span><span class='dashboard-number' id='newGroups' style='display:none'></span>Clubs on Campus</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='fellows'>
                                        <span><span class='dashboard-number' id='newStudents' style='display:none'></span>Fellow Students</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='moocs'>
                                        <span>MOOCs</span>
                                    </div>
                                </li>
                                <li>
                                    <div style='cursor: pointer' class="dashboard_tab" id='pointoflight'>
                                        <span>Points of Light</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <section class='large-12 columns'>
                        <div id="dashboardloader"></div>
                        <div id='dashboard-results'></div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</article>