<article>
    <div class="original">
        <a id="mentorLink" href="{{link}}" target="_blank">
            <div class='dashSeen'>
                <div class='connection' style='background-color: #EFEFEF'>
                    <div class='connection-photo' style='cursor: pointer'>
                        {{#if image}}
                        <img class='small-companies' src='{{image}}'/>
                        {{else}}
                        <img src='//placehold.it/200x200'/>
                        {{/if}}
                    </div>
                    <div class='connection-info' style='cursor: pointer'>
                        <h4 class='thinheader'>{{title}}</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>

</article>