<article>
    <div class="original">
        Please start typing new location: <input id="customLocation" type="text" name="searchLocation"><br>
        <input id="customDistance" type="text" name="searchLocation" style="display: none"><br>
        Select new distance in miles using the slider:
        <div id="distanceselector" style=""></div>
        <button id="customSearch" style="display: none">Search</button>
        <div id=offset>Results for the following query:</div>
        <div id="map-dialogue" title="Viewing current map">
        </div>
    </div>

</article>