<article>
    <div class="original">
        <div class='large-12 columns module'>
            <header class='module-header'>
                <h4>
                    <span>Related multi-media</span>
                    <div class='module-corner-actions'>
                        <a>
                            <i class='icon-plus tip-top' title='Add'></i>
                        </a>
                    </div>
                </h4>
            </header>
            <div class="row">
            <span id="collegeGallery" class='large-12 columns' style='display:inline'>
                <div class='mediaExperienceRepresentation'>
                </div>
                <div class="large-6 columns" style="display:inline;">
                    <div id="bigPicture" style='margin-bottom: 25px'></div>
                </div>
                <div class="large-5 columns" style="display:inline;">
                    <div id="mediaCaption" style='margin-bottom: 25px'></div>
                </div>
            </span>
                <div id="imageNavigationButtons">
                    <div id="mediaCounter" class="center"></div>
                </div>
            </div>
        </div>
    </div>

</article>