<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <section class='large-9 columns'>
                    <div id='tutorial-section'></div>
                    <article class="module portfolio-intro">
                        <div id='profile-picture-section'></div>
                        <div id='basic-information-section'></div>
                    </article>
                    <button id="createPdfButton" title='CreatePdf' type="button">CV Wizard</button>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                    <div class="module" id='experience-points-section'></div>
                    <div class="module" id='experiences-section'></div>
                    <div class="module" id='skills-section'></div>
                    <div class="module" id='awards-section'></div>
                    <div class="module" id='personal-statement-section'></div>
                    <div class="module" id='connections-section'></div>
                </section>
                <div id='sponsors-section' class='large-3 columns'></div>

                <div class="large-3 columns">
                    <div id="friend-widget" data-hull-component="friends-selector@facebook"
                         data-hull-redirect-to="{{inviteFriendRoute}}" data-hull-columns="1"
                         data-hull-message="{{friendInvitationMessage}}"></div>
                </div>
            </div>
        </div>
        <div id="camera-message" title="Please Select Your Resume Image">
            <div id="cameraControls" class="center" style="display: none; overflow: hidden">
                <video class="shadow" id="video" width="320" height="240" autoplay></video>
                <canvas id="canvas" width="320" height="240"></canvas>
                <!--<button id="sendWithProfileImage">Send with Profile Image</button>-->
                <div class='row'>
                    <div id="hardwareinitialization" class=' cameraInitwarning '></div>
                </div>

                <input id="emailresume" class="validator email full-width wrg-tb login-row tk-museo-sans"
                       placeholder="Send resume PDF"/>
                <button id="emailpdf" style="display: none">Send</button>
                <div class='row'>
                    <div id="cvchecker" class='large-12 columns'></div>
                    <br>
                </div>
                <div class='row'>
                    <div class='validation-messages large-12 columns'></div>
                </div>
                <div id="loaderIcon"></div>
            </div>
        </div>
        <div id='footer-section'></div>

    </div>
</article>
