<article>
    <div class="original">
        <div class='cap-pattern'>
            <div id="mainContent">
                <div id="nav">
                    <div id="aboutLogo">
                        <a href="#home">
                            <img style="display: block;" src="img/logo_glow_v3.png"/>
                        </a>
                    </div>
                <span id="menuOutside" class="wrg-menu tk-museo-sans">
				<div id="aboutContact">
                    <a href="#home">Home</a>
                    <span class="menu-seprator"></span>
                    <a href="#about">About</a>
                    <span class="menu-seprator"></span>
                    <a href="#contact">Contact</a>
                    <span class="menu-seprator"></span>
                    <a href="#news">News</a>
                </div>
			    </span>
                </div>
            </div>
            <div id="meat">
                <div class="l-main">
                    <div class="row">
                        <div class="login-register-section">
                            <div class="corp-site-title tk-museo-sans wrg-gray">About</div>
                            <div id="about-text" class="tk-museo-sans wrg-gray">
                                <p>
                                    WorkReadyGrad elevates the dialogue between the supply and demand side of
                                    our economy (academia and industry), connecting students directly with
                                    employers to learn the real-world talent sought, enabling them to proactively
                                    acquire the skills and experiences necessary to become a good fit job candidate
                                    by the time they graduate from college and technical schools.
                                </p>
                                <p>
                                    This tool was initially built in 2012 by Georgia Tech students in their CS
                                    Capstone Design Class with Dr. Bob Waters and led by Tech alumnus, Brian
                                    Srikanchna (BME '08).
                                </p>
                                <p>
                                    Our first pilot was in the Biomedical Engineering Department of Georgia Tech
                                    with over 150+ students and 30+ employers participating, including Home
                                    Depot, Coca-Cola, GE Healthcare, P&amp;G, CardioMEMS, Citrix, and Edwards Life
                                    Sciences.Presently we're building a high school version of WorkReadyGrad to
                                    prepare students for admission into their college or technical school of choice.
                                </p>
                                <p>
                                    This tool directly address the <span class="aboutbold">Skills Gap</span> and
                                    <span class="aboutbold">Student Graduation Rates.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="tk-museo-sans">
                <div id="leftFooter" class="footer-inside">
                    <img id="footerLogo" src="img/footer_logo.png"/>
                    <a href="#about">about</a>
                    <a href="#contact">contact</a>
                    <a href="#companies" class="register-employer">companies</a>
                </div>
                <div id="rightFooter">
                    <div id="socialTwitter"><a target="_blank" href="https://twitter.com/WorkReadyGrad"></a></div>
                    <div id="socialFacebook"><a target="_blank" href="https://www.facebook.com/WorkReadyGrad"></a></div>
                    <div id="socialLinkedIn"><a target="_blank" href="http://www.linkedin.com/company/workreadygrad"></a></div>
                </div>
            </div>
        </div>
    </div>

    </div>
</article>

