<article>
	<div class="original">
        <div class="login-register-section" id="register1section">
            <div class="login-register-title corp-site-title tk-museo-sans wrg-gray">Let's get started<div class="close"></div></div>
            <div>
                <form name="fileinfo" id="fileinfo" class='custom'>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id='first-name' class="validator required wrg-tb tk-museo-sans" type="text" placeholder="First Name*" maxlength="50"/>
                            <input id='last-name' class="validator required wrg-tb tk-museo-sans" type="text" placeholder="Last Name*" maxlength="50"/>
                            <input id='email' class="validator email wrg-tb tk-museo-sans" type="text" placeholder="Email*" maxlength="50"/>
                            <input id='password' class="pwd wrg-tb tk-museo-sans" type="password" placeholder="Password*" maxlength="50"/>
                            <input id='repeatPassword' class="validator pwd full-width wrg-tb tk-museo-sans" type="password" placeholder="Repeat Password*"/>
                        </div>
                        <div class='large-6 columns'>
                            <div id="signin-text" class="tk-museo-sans">
                                Sign up with your favorite social network!
                                Easy as pressing a button
                                <div id="registerSocialIcons">
                                    <div id="registerFacebook" tabindex="-1" title="Sign in using your facebook account"></div>
                                    <div id="registerLinkedin" tabindex="-1" title="Sign in using your Linkedin account"></div>
                                    <div id="registerGoogle" tabindex="-1" title="Sign in using your Google account"></div>
                                </div>
                                <!--<div class="dd-select" id="myDropdown"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <div class="ui-widget">
                                <label for="searchalmamater"> </label>
                                <input placeholder="What school did you go to?" id="searchalmamater" type="text"/>
                                <input id="searchSchoolsId" style='display:none'/>
                            </div>
                            <select id="graduation-year" class="styled-select tk-museo-sans wrg-select">
                                <option value="">Graduation Year</option>
                            </select>
                            <select id="level-of-edu" class="styled-select tk-museo-sans wrg-select">
                                <option value="">Highest level of education</option>
                                <option value="HighSchool">High School</option>
                                <option value="2yrDegree">2yr Degree</option>
                                <option value="4yrDegree">4yr Degree</option>
                                <option value="MasterDegree">Master Degree</option>
                                <option value="MasterDegree">PhD</option>
                            </select>
                            <input id='major' class="wrg-tb tk-museo-sans" type="text" placeholder="Major"/>
                            <input id='company' class="wrg-tb tk-museo-sans" type="text" placeholder="What company do you work for?"/>
                            <input id='job-title' class="wrg-tb tk-museo-sans" type="text" placeholder="Job Title"/>
                            <select id="alumnus-industry" class="styled-select tk-museo-sans wrg-select">
                                <option value="">Industry you are working in</option>
                                <option value="Energy">Energy</option>
                                <option value="Materials">Materials</option>
                                <option value="Industrials">Industrials</option>
                                <option value="Consumer Discretionary">Consumer Discretionary</option>
                                <option value="Consumer Staples">Consumer Staples</option>
                                <option value="Health Care">Health Care</option>
                                <option value="Financials">Financials</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Telecommunication Services">Telecommunication Services</option>
                                <option value="Utilities">Utilities</option>

                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <textarea id='question-1' class="wrg-tb tk-museo-sans" type="text" placeholder="What do you actually do day-to-day in your field?" maxlength='20000'/>
                        </div>
                        <div class='large-12 columns'>
                            <textarea id='question-2' class="wrg-tb tk-museo-sans" type="text" placeholder="What process did you go through to gain employment, and what skills and experiences distinguished you from other applicants?" maxlength='20000'/>
                        </div>
                        <div class='large-12 columns'>
                            <textarea id='question-3' class="wrg-tb tk-museo-sans" type="text" placeholder="When I was a student, I wish I had known..." maxlength='20000'/>
                        </div>
                    </div>
                    <div class="nextPrev tk-museo-sans">
                        <div class="tos">Terms of Service</div>
                        <input id='save-user' type="submit" value="Finish" class="button right"/>
                    </div>
                </form>
            </div>
        </div>
	</div>

</article>