<article>
    <div class="original">
        <div class="login-register-section" id="register1section">
            <div class="login-register-title corp-site-title tk-museo-sans wrg-gray">Let's get started<div class="close"></div></div>
            <div class="left-section">
                <form name="fileinfo" id="fileinfo" class='custom'>
                    <div class='row'>
                        <div class='validation-messages large-12 columns'></div>
                    </div>
                    <div class='row'>
                        <div class="ui-widget">
                            <label for="name"> </label>
                            <input placeholder="College name *" id="name" class="validator required full-width wrg-tb tk-museo-sans"  type="text"/>
                            <input id="searchSchoolsId" style='display:none'/>
                        </div>
                        <!--<input id='name' class="validator required full-width wrg-tb tk-museo-sans" type="text" placeholder="College name*"/>-->
                        <input id='email' class="validator email full-width wrg-tb tk-museo-sans" type="text" placeholder="Email*"/>
                        <input id='password' class="pwd full-width wrg-tb tk-museo-sans" type="password" placeholder="Password*"/>
                        <input id='repeatPassword' class="validator pwd full-width wrg-tb tk-museo-sans" type="password" placeholder="Repeat Password*"/>
                        <textarea rows="5" length='500' id='collegeDescription' placeholder='Description' />
                    </div>
                    <div class="nextPrev tk-museo-sans">
                        <div class="tos">Terms of Service</div>
                        <input id='save-user' type="submit" value="Finish" class="button right"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</article>