<article>
    <div class="original">
        <div class='cap-pattern'>
            <div id="mainContent">
                <div id="nav">
                    <div id="aboutLogo">
                        <a href="#home">
                            <img style="display: block;" src="img/logo_glow_v3.png"/>
                        </a>
                    </div>
                <span id="menuOutside" class="wrg-menu tk-museo-sans">
				<div id="aboutContact">
                    <a href="#home">Home</a>
                    <span class="menu-seprator"></span>
                    <a href="#about">About</a>
                    <span class="menu-seprator"></span>
                    <a href="#contact">Contact</a>
                    <span class="menu-seprator"></span>
                    <a href="#news">News</a>
                </div>
			    </span>
                </div>
            </div>
            <div id="meat">
                <div class="l-main">
                    <div class="row">
                        <div class="login-register-section">
                            <div class="corp-site-title tk-museo-sans wrg-gray">Contact</div>
                            <div id="about-text" class="tk-museo-sans wrg-gray">
                                <p>Please contact <a class='visit'>info@workreadygrad.com</a> with any questions or feedback on how to improve our Beta site.
                                    Thank you!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="tk-museo-sans">
                <div id="leftFooter" class="footer-inside">
                    <img id="footerLogo" src="img/footer_logo.png"/>
                    <a href="#about">about</a>
                    <a href="#contact">contact</a>
                    <a href="#companies" class="register-employer">companies</a>
                </div>
                <div id="rightFooter">
                    <div id="socialTwitter"><a target="_blank" href="https://twitter.com/WorkReadyGrad"></a></div>
                    <div id="socialFacebook"><a target="_blank" href="https://www.facebook.com/WorkReadyGrad"></a></div>
                    <div id="socialLinkedIn"><a target="_blank" href="http://www.linkedin.com/company/workreadygrad"></a></div>
                </div>
            </div>
        </div>
    </div>

    <!--</div>-->
</article>

