<article>
    <div class="original">
        <div class='cap-pattern'>
            <div id="mainContent">
                <div class='row'>
                    <a id="login-link" class="tk-museo-sans button medium right">Login</a>
                    <!--<a id="facebookshare" value="Facebook Share" class="tk-museo-sans button tiny left" type='button'>FB Share</a>-->
                    <div class="shareIcons" data-hull-component="share/button@hull" data-hull-text="Work Ready Grad a tool to connect students" data-hull-url="http://www.workreadygrad.com" data-hull-providers='facebook,twitter,linkedin,google'></div>
                </div>
                <div id="nav">
                    <div id="logo">
                        <img src="img/logo_glow_v3.png"/>
                    </div>
                    <div id='register-message'><h4 class='tk-museo-sans thinheader'>Register as a...</h4></div>
                <span id="menuOutside" class="wrg-menu tk-museo-sans">
                    <div id="aboutContact">
                        <a href="#about">About</a>
                        <span class="menu-seprator"></span>
                        <a href="#contact">Contact</a>
                        <span class="menu-seprator"></span>
                        <a href="#news">News</a>
                    </div>
                    <div id="loginRegister">
                        <a class="register-student">Student</a>
                        <span class="menu-seprator"></span>
                        <a class="register-alumni">Alumni / Professionals</a>
                        <span class="menu-seprator"></span>
                        <a class="register-employer">Employer</a>
                        <span class="menu-seprator"></span>
                        <a class="register-college">College</a>
                    </div>
                </span>
                </div>
                <div id="navBottom">
                </div>
                <div id="meat">

                    <!-- Mailing List Section -->
                    <!-- Add Mailing List code here -->

                    <!-- Register Section -->
                    <div id="register1wrapper" class="login-wrapper"></div>

                    <div id="register3wrapper" class="login-wrapper"></div>

                    <!-- Login Section -->
                    <div id="loginwrapper"  class="login-wrapper"></div>

                    <div class="clear"></div>

                    <!-- Password Reset Section -->
                    <div id="passresetwrapper"  class="login-wrapper">

                    </div>
                    <div class="clear"></div>
                    <!-- Slider Section -->
                    <div id="slider">
                        <ul data-orbit>
                            <li>
                                <iframe width="853" height="480" src="//www.youtube.com/embed/d5oVKx72W2c" frameborder="0" allowfullscreen='false'></iframe>
                            </li>
                            <li>
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/96463248344.jpg?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092294241&Signature=ZloNbjdhws2I05JlQK3cTfBDtWo%3D" />
                                <!-- <img src="img/slider_1.jpg" />-->
                            </li>
                            <li>
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/26075905818.jpg?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092294260&Signature=K6p8150DOowfakAXmPTJeskTG%2BA%3D" />
                                <!-- <img src="img/slider_2.jpg" />-->
                            </li>
                            <li>
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/14271390532.jpg?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092294280&Signature=YbeVNX0dPkxGz%2B2vIx7aObcDPF4%3D" />
                                <!--<img src="img/slider_3.jpg" />-->
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>

                    <!-- Features Section -->
                    <div id="features">
                        <br><br>
                        <br><hr><br>
                        <div class="row">
                            <div class="large-10 large-centered columns">
                                <h5 class="left">Example Features</h5>
                            </div>
                            <div class="large-10 large-centered columns">
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/70308036823.png?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092294458&Signature=p5DQVEG7%2FXQ2SvuNVd66QBzJ4qs%3D"/>
                                <!--<img src="img/experience_points.jpg"></img>-->
                            </div>

                            <div class="large-10 large-centered columns">
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/076d83de-e783-46c9-b704-4222ca98feff.jpg?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092388393&Signature=5r8mPI1FZDcfFI5cTCG2ms1gsDI%3D"/>
                                <!--<img src="img/experience_points.jpg"></img>-->
                            </div>

                            <div class="large-10 large-centered columns">
                                <img src="https://work-ready-gradprod.s3.amazonaws.com/76705705375.jpg?AWSAccessKeyId=AKIAJIEZZO4EHPN437XA&Expires=2092294482&Signature=CdLBcvLkEKABOnDcVyDZhyAOzsQ%3D"/>
                                <!-- <img src="img/student_dashboard.jpg"></img>-->
                            </div>
                        </div>
                        <br><br>
                    </div>
                    <!-- Footer Section -->
                </div>
                <div id="footer" class="tk-museo-sans">
                    <div id="leftFooter" class="footer-inside">
                        <img id="footerLogo" src="img/footer_logo.png"/>
                        <a href="#about">about</a>
                        <a href="#contact">contact</a>
                        <a href="#companies">companies</a>
                    </div>
                    <div id="rightFooter">
                        <div id="socialTwitter"><a target="_blank" href="https://twitter.com/WorkReadyGrad"></a></div>
                        <div id="socialFacebook"><a target="_blank" href="https://www.facebook.com/WorkReadyGrad"></a></div>
                        <div id="socialLinkedIn"><a target="_blank" href="http://www.linkedin.com/company/workreadygrad"></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</article>
