<article>
    <div class="original">
        <div class="login-register-section" id="loginsection">
            <div class="login-register-title corp-site-title tk-museo-sans wrg-gray">
                Reset Password
                <div class="close"></div>
            </div>
            <div class='row'>
                <div class='validation-messages large-12 columns'></div>
            </div>
            <div class="left-section">
                <form id="login-form">
                    <input id="login-email" class="full-width wrg-tb login-row tk-museo-sans" type="email" required="true" placeholder="Email"/>
                    <div id="remember-forgot" class="login-row full-width">
                    </div>
                    <div class="login-row full-width">
                        <input class="request-pass tk-museo-sans wrg-butt" type="button" value="Request New Pass" />
                    </div>
                </form>
            </div>
            <div class="right-section">
            </div>
        </div>
    </div>

</article>
