<article>
    <div class="original">
        <div class="login-register-section" id="register3section">
            <div class="login-register-title corp-site-title tk-museo-sans wrg-gray">Congrats<div class="close"></div></div>
            <div class="tk-museo-sans details-text">
                Congratulations! You are now registered for WorkReadyGrad. You will be automatically logged in.
            </div>
            <div class="nextPrev tk-museo-sans">
                <a id='open-login' class="button left">Login</a>
            </div>
        </div>
    </div>

</article>