<article>
    <div class="original">
        <div style="border-radius: 6px; margin-left: 0px" class="large-12 columns module">
            <div style="background-color: #58595b; margin-top: -8px; margin-left: -15px; width: 110%; padding-top: 10px; padding-left: 20px;">
                <h3 class="thinheader" style="color: #ffffff">Events</h3>
            </div>
            <ul id="event-list" style="list-style: none"></ul>
            <a id="load-events" style="margin-left: 40%">Load more...</a>
        </div>
    </div>

</article>