<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <section>
                    <div class="large-12 columns module">
                        <h2 class="">Activity Feed</h2>
                        <p>Activity feed allows you to check latest events on WRG</p>
                        <div style="background-color: lightgrey" class="large-12 columns">
                            <div class="large-6 columns" id="feed-container" style="border-right: 1px solid"></div>
                            <div class="large-6 columns" id="events-container"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id='footer-section'></div>
    </div>

</article>