<article>
    <div class="original">
        <div class="module alumni-search">
            <div class='large-12 columns'>
                <form>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input id='jobsearch' placeholder='Search for jobs by job title or company.' type='text' />
                        </div>
                        <div class='large-6 columns'>
                            <input id='location' placeholder='Search for jobs by location.' type='text' />
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <input type="checkbox" id="applied" value="Applied Jobs"> Applied Jobs
                        </div>
                        <div class='large-6 columns right'>
                            <input class='button filter' type='button' value='Search' />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</article>