<article>
    <div class="original">
        <div class='row'>
            <div class='large-12 columns'>
                <h2 class='thinheader'>Add Resource</h2>
            </div>
        </div>
        <div class='row'>
            <div class='validation-messages large-12 columns'></div>
        </div>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='panel'>
                    <div class='row'>
                        <div class='large-6 columns'>
                            <select id='resCategory' class="styled-select tk-museo-sans wrg-select" ></select>
                        </div>
                        <div class='large-6 columns'>
                            <input id="resTitle" type="text" placeholder="Resource Title">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='large-12 columns'>
                            <textarea id="resDescription" placeholder="Say something about this resource..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='large-12 columns form-actions'>
                <input class="button save-button" id="saveResource" type="button" value="Save">
            </div>
        </div>

        <a class='close-reveal-modal'>×</a>
    </div>

</article>