<article>
    <div class="original">
        <div id='header-section'></div>
        <div class='l-main'>
            <div class='row'>
                <section>
                    <div class='large-12 columns module' id='tabs-section' style="border-bottom: 5px"></div>
                    <div class="large-12 columns module" style="float: left; margin-top: 5px">
                        <div class="large-6 columns">
                            <div id='categories-section'></div>
                        </div>
                        <div class="large-6 columns">
                            <div id='resources-section'></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id='footer-section'></div>
    </div>

</article>